version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    open-pull-requests-limit: 1
    schedule:
      interval: weekly
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
